# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual env
.venv/
env/
venv/

# IDE
.vscode/
.idea/

# Streamlit cache
.streamlit/

# OS
.DS_Store
Thumbs.db

# Dados e artefatos grandes
data/rl_data/sudoku.csv
runs/ppo_masked/PPO*
